streamlit
streamlit-webrtc
opencv-python-headless
tensorflow
mysql-connector-python
python-dotenv
SpeechRecognition
pyttsx3
pipwin
pypiwin32; sys_platform == 'win32'
pyaudio
scikit-learn
numpy
pandas
bcrypt
mediapipe
protobuf
pyngrok